.body {
  background-image: url("webb-dark.png");
  /* background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 94, 121, 1) 16%,
    rgba(0, 212, 255, 1) 100%
  ); */

  /* background-color: rgba(0, 0, 0, 0.822); */
  min-height: 100%;
  min-width: 100%;
  height: 1000px;
}

.inactive_class {
  width: 25.69px;
  height: 34.69px;
  border-radius: 3px;
  display: inline-block;
  margin: 5px;
  background-color: gray;
  transition: transform 0.2s;
}

.row {
  color: white;
  align-items: baseline;
}

.inactive_class:hover {
  transform: scale(1.4);
}

.cell_Clicked {
  width: 25.69px;
  height: 34.69px;
  border-radius: 3px;
  display: inline-block;
  margin: 5px;
  background-color: rgb(12, 125, 231);
  transition: transform 0.2s;
  text-align: center;
}

.cell_Clicked:hover {
  transform: scale(1.4);
}

.cell_Clicked1 {
  width: 25.69px;
  height: 34.69px;
  border-radius: 3px;
  display: inline-block;
  margin: 5px;
  background-color: rgb(231, 12, 12);
  white-space: nowrap;
  color: black;
  /* margin-bottom: 75px;
  justify-content: left; */
}

.info {
  left: 0%;
  bottom: 0%;
  width: 100%;
  opacity: 1;
}

.item {
  background: var(--clr-white);
  display: flex;
  justify-content: space-between;
  max-width: var(--fixed-width);
  margin: 2rem auto;
  align-items: center;
  border-radius: var(--radius);
  white-space: pre-wrap;
}

.popUp {
  background: var(--clr-white);
  display: flex;
  justify-content: space-between;
  max-width: var(--fixed-width);
  margin: 2rem auto;
  align-items: center;
  border-radius: var(--radius);
  white-space: pre-wrap;
}

.btn {
  display: inline-block;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.5rem;
  border-radius: var(--radius);
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: var(--spacing);

  margin-right: 1.5rem;
  cursor: pointer;
  transition: var(--transition);
}
.btn:hover {
  background: var(--clr-primary-1);
  color: var(--clr-primary-5);
}

.element1 {
  display: inline-block;
  margin-right: 10px;
  width: 1200px;
  justify-content: space-between;
  left: 0px;
  text-align: center;
}

.element2 {
  display: inline-block;
  width: 50px;
}

.element3 {
  display: inline-block;
  width: 70px;
  margin-right: 10px;
  /* text-align: left; */
}

.element4 {
  display: inline-block;
  width: 100px;
}

.movie-details {
  width: 90%;
  height: 355px;
  align-items: center;
  margin: auto;
  background: linear-gradient(
    90deg,
    rgb(22, 18, 109) 0%,
    rgb(32, 160, 199) 36%,
    rgb(31, 25, 155) 100%
  );
}

.movie-details-copy {
  width: 100%;
  height: 355px;
  margin: auto;
  align-items: center;
}

.movie-details img {
  margin: auto;
  padding-bottom: 0px;
  display: block;
}

/* .img-header {
  height: 200px;
} */

.movie-title {
  color: white;
}

.board {
  padding-top: 20px;
  margin-top: 20px;
}

.board {
  width: 90%;
  /* height: 100%; */
  /* height: 900px; */
  height: 645px;
  text-align: center;
  align-items: center;

  margin: 0 auto;
  /* padding-top: 30px; */
}
/* 
div.wrap > .background-image {
  position: absolute;
  height: 300px;
  width: 90%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Zhgd-0_YbdK_KjetIynISAHaK-%26pid%3DApi&f=1");
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
   z-index: -1; 
}

.containers {
  height: 100%;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

div.containers img {
  width: 100px;
  height: 100px;
} */
