/* Mobile Styles */

.body-mobile {
  background-image: url("webb-dark.png");
  min-height: 100%;
  min-width: 100%;
  height: 1000px;
}

.inactive_class-mobile {
  width: 3%;
  height: 65%;
  display: inline-block;
  margin: 4px;
  background-color: gray;
  transition: transform 0.2s;
}

.inactive_class-mobile:hover {
  transform: scale(1.4);
}

.cell_Clicked-mobile {
  width: 3%;
  height: 65%;
  display: inline-block;
  margin: 4px;
  background-color: rgb(12, 125, 231);
  transition: transform 0.2s;
  text-align: center;
}

.cell_Clicked-mobile:hover {
  transform: scale(1.4);
}

.cell_Clicked1-mobile {
  width: 3%;
  height: 65%;
  display: inline-block;
  margin: 4px;
  background-color: rgb(231, 12, 12);
  white-space: nowrap;
  color: black;
}

.element1-mobile {
  display: inline-block;
  margin-right: 10px;
  width: 1200px;
  justify-content: space-between;
  left: 0px;
  text-align: center;
}

.element2-mobile {
  display: inline-block;
  width: 50px;
}

.element3-mobile {
  display: inline-block;
  width: 70px;
  margin-right: 10px;
}

.element4-mobile {
  display: inline-block;
  width: 20%;
}

.movie-details-mobile {
  width: 90%;
  height: 35.5%;
  align-items: center;
  margin: auto;
  background: linear-gradient(
    90deg,
    rgb(22, 18, 109) 0%,
    rgb(32, 160, 199) 36%,
    rgb(31, 25, 155) 100%
  );
}

.movie-details-copy-mobile {
  width: 100%;
  height: 355px;
  margin: auto;
  align-items: center;
}

.movie-details-mobile img {
  margin: auto;
  padding-bottom: 0px;
  display: block;
}

.movie-title-mobile {
  color: white;
}

.board-mobile {
  padding-top: 20px;
  margin-top: 20px;
}

.board-mobile {
  width: 90%;
  height: 645px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

/* Desktop Style */

.body {
  background-image: url("webb-dark.png");
  min-height: 100%;
  min-width: 100%;
  height: 1000px;
}

.inactive_class {
  width: 25.69px;
  height: 34.69px;
  border-radius: 3px;
  display: inline-block;
  margin: 5px;
  background-color: gray;
  transition: transform 0.2s;
}

.inactive_class:hover {
  transform: scale(1.4);
}
.cell_Clicked {
  width: 25.69px;
  height: 34.69px;
  border-radius: 3px;
  display: inline-block;
  margin: 5px;
  background-color: rgb(12, 125, 231);
  transition: transform 0.2s;
  text-align: center;
}
.cell_Clicked:hover {
  transform: scale(1.4);
}

.cell_Clicked1 {
  width: 25.69px;
  height: 34.69px;
  border-radius: 3px;
  display: inline-block;
  margin: 5px;
  background-color: rgb(231, 12, 12);
  white-space: nowrap;
  color: black;
}

.btn {
  display: inline-block;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.5rem;
  border-radius: var(--radius);
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: var(--spacing);
  margin-right: 1.5rem;
  cursor: pointer;
  transition: var(--transition);
}
.btn:hover {
  background: var(--clr-primary-1);
  color: var(--clr-primary-5);
}
.element1 {
  display: inline-block;
  margin-right: 10px;
  width: 1200px;
  justify-content: space-between;
  left: 0px;
  text-align: center;
}

.element2 {
  display: inline-block;
  width: 50px;
}
.element3 {
  display: inline-block;
  width: 70px;
  margin-right: 10px;
}
.element4 {
  display: inline-block;
  width: 100px;
}
.movie-details {
  width: 90%;
  height: 355px;
  align-items: center;
  margin: auto;
}

.movie-details-copy {
  width: 100%;
  height: 355px;
  margin: auto;
  align-items: center;
}

.movie-details img {
  margin: auto;
  padding-bottom: 0px;
  display: block;
}

.movie-title {
  color: white;
}
.board {
  padding-top: 20px;
  margin-top: 20px;
}
.board {
  width: 90%;
  height: 645px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
